<style>
  /* The sidebar menu */
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-display: center;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn:hover {
    background-color: #444;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 0.4s; /* If you want a transition effect */
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 0px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
</style>
<div id="mySidebar" class="sidebar">
  <img
    class="imagem"
    onclick="openNav()"
    style="padding-left: 80px; width: 145px; padding-top: 0px"
    src="https://www.habbo.com.br/habbo-imaging/badge/b08124s36044s90115s93113s400148e11357607940f563ff18e1c32070e4c.gif"
    alt=""
  />
  <div style="background-color: white; height: 0.1px; margin-top: 10px"></div>
  <a href="/">Início</a>
  <a href="/admin/categories/new">Nova Categoria</a>
  <a href="/admin/categories">Listagem de Categorias</a>
  <a href="/cadastrar">Cadastrar Usuário</a>
  <a href="/lista/cadastro/Pendente">Requerimento</a>
</div>

<script>
  /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
  function openNav() {
    var aberta = Boolean

    if (document.getElementById('mySidebar').style.width == '') {
      aberta = true
      document.getElementById('mySidebar').style.width = '250px'
      document.getElementById('main').style.marginLeft = '250px'
    } else if (document.getElementById('mySidebar').style.width != 0) {
      aberta = false
      document.getElementById('mySidebar').style.width = ''
      document.getElementById('main').style.marginLeft = ''
    }
  }
</script>
